/temp
/.idea
/.kilo
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/
.env
.kilo/

updates/
vendor/
composer.lock
package-lock.json
*.lock
resources/lang/en.json
/public/uploads
/node_modules/
node_modules
